extends ../layout 

block content
    h2= title

    include errors
   
    form(action="/books/new", method="post")
    
        include book-detail-form

        p
            input(type="submit" value="Create New Book")
        p   
            a.button(href="/books") Cancel