extends ../layout

block content 
    h2= title

    include errors

    form(action="/books/" + book.id + "/update", method="post")
    
        include book-detail-form 

        p
            input(type="submit" value="Update Book")
    form(method="post", action="/books/" + book.id + "/delete", onSubmit="return confirm('Do you really want to delete this book?')")
        p 
            a.button(href="/books") Cancel
        p
            input(type="submit" value="Delete Book")

