extends layout 

block content
    h1 Page Not Found 
    p We're sorry! In spite of intense effort, and much hand wringing we simply could not find the page you were looking for... 

    a.button(href='/') Home